@font-face {
    font-family: 'Wagon Serif';
    src: url('../fonts/Wagon-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #FFEF00;
    margin: 0;
    padding: 0;
    font-family: 'Wagon Serif', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.title {
    font-size: 6rem;
    font-weight: bold;
    color: #333;
}