<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption and Decryption</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @font-face {
            font-family: 'Wagon Serif';
            src: url("{{ url_for('static', filename='fonts/Wagon-Bold.otf') }}") format('opentype');
            font-weight: bold;
            font-style: normal;
        }

        body {
            font-family: 'Wagon Serif', serif;
        }
    </style>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        'wagon': ['Wagon Serif', 'serif'],
                        'calibri': ['Calibri', 'sans-serif'],
                        'barlow': ['Barlow Condensed', 'sans-serif'],
                    },
                    colors: {
                        'canary': '#D6C200',
                    }
                }
            }
        }
    </script>
</head>

<body class="bg-canary flex justify-center items-center h-screen m-0 p-0 text-gray-800 overflow-hidden">
    <div id="page-container"
        class="container mx-auto text-center px-4 max-w-4xl -mt-32 transform transition-all duration-[1500ms] ease-out opacity-0 translate-y-10">
        <h1 class="text-8xl font-bold mb-4 text-gray-800">
            <a href="{{ url_for('encryption') }}"
                class="no-underline border-b-2 border-transparent hover:border-gray-800 transition duration-300">Encryption</a>
            and
            <a href="{{ url_for('decryption') }}"
                class="no-underline border-b-2 border-transparent hover:border-gray-800 transition duration-300">Decryption</a>
        </h1>
        <div class="flex justify-end pr-10 mt-4">
            <div class="h-1 bg-gray-800 w-[900px] rounded"></div>
        </div>
        <p
            class="font-barlow text-3xl text-white mt-4 text-right pr-10 leading-snug max-w-[900px] ml-auto tracking-normal opacity-90">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, pariatur quae voluptatibus distinctio
            voluptas veritatis consequuntur explicabo ratione nemo accusantium harum impedit vel quas repudiandae magni
            vitae suscipit ab eos ex numquam deserunt. Aliquid quod mollitia esse! Consectetur, nihil quas.
        </p>
    </div>
    <script src="{{ url_for('static', filename='js/transitions.js') }}"></script>
</body>

</html>